ul {
  list-style-type: none;

  & li {
    display: inline;


    &:last-child::after {
      content: '';
    }
  }
}



.wish-list {
  width: 25px;
  // height: 39px;

}

.metascore {
  padding: 3px;
  margin-right: 3px;
  background-color: #61c74f;
  color: #fff;
}
