<app-loading-icon [isLoading]="isLoading"></app-loading-icon>

<div class="row" *ngIf="data">
  <div class="col-md-8 m-3 border rounded">
    <h4 class="mt-3  font-weight-bold">{{data.header}}</h4>
    <div class="d-flex">
      <div class="flex-grow-1">
        <app-paging [start]="start" [end]="end" [totalItems]="totalItem" [prevPage]="data.prevPage"
          [nextPage]="data.nextPage"></app-paging>
      </div>
      <div>View Mode:
        <a href="{{url}}&view=simple" (click)="onViewClick('simple')">Compact</a>
        |
        <a href="{{url}}&view=advanced" class="font-weight-bold" (click)="onViewClick('advanced')">Detailed</a>
      </div>
    </div>

    <app-sort-navigation [data]="data.sorting" type="/search/title"></app-sort-navigation>

    <app-search-title-item [data]="data.items" [start]="start" searchType="title"></app-search-title-item>

    <app-paging [start]="start" [end]="end" [totalItems]="totalItem" [prevPage]="data.prevPage"
      [nextPage]="data.nextPage"></app-paging>
  </div>
</div>
