<div class="border rounded p-3">
  <h4 class="pl-3"> {{ newsType | getTitle }} News</h4>

  <div class="row overflow-auto  ">
    <div class="font13 row content m-2" *ngFor="let item of news;let i=index" [ngClass]="{'bk-grey': i%2==0, 'bk-white': i%2 ==1}">

      <app-news-item [data]="item"></app-news-item>
    </div>

  </div>
  <span *ngIf="bLoadSuccess">
    <button type="button mt-2" class="btn btn-light btn-outline-dark w-100 " (click)="OnLoad()"><i class="fas fa-caret-down"></i>
      Load
      more </button>
    <div class="font11 mt-2 mb-2">IMDb.com, Inc. takes no responsibility for the content or accuracy of the above
      news
      articles,Tweets, or blog posts. This content is published for the entertainment of our users only. The news
      articles, Tweets, and blog posts do not represent IMDb's opinions nor can we guarantee that the reporting
      therein
      is completely factual. Please visit the source responsible for the item in question to report any concerns
      you
      may have regarding content or accuracy.</div>
  </span>
</div>
