<div class="row">
  <div class="col-md-8  p-3">
    <div class="border rounded p-3">
      <a routerLink="/movies/in-theater" class="font-weight-bold">New Movies</a>
      <h4>In Theaters</h4>
      <br />
      <ul class="nav nav-tabs position-relative">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/movies/in-theater">In Theaters</a>

        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/movies/coming-soon">Coming Soon</a>

        </li>
        <a routerLink="/showtimes/movies" class="link-right"> Showtimes >>></a>
      </ul>
      <router-outlet></router-outlet>
      <div class="border-dotted mt-3">
        <div class="font11 pt-3 ">
          IMDb is your definitive source for discovering the latest new movies coming soon to theaters. Long before the
          movies even reach theaters, go to IMDb to watch the hottest trailers, see photos, find release dates, read
          reviews, and learn all about the full cast and crew. IMDb is your ultimate source for new movies and our
          "Coming Soon" pages provide you an easy way to learn about upcoming movies, many times before the final
          release
          dates have been announced. As you discover new movies, add them to your Watchlist. The IMDb Watchlist is a
          quick and easy way to track and remember all the upcoming movies that you want to see. Remember, IMDb is your
          source for new movies.</div>
        <div class="d-flex mt-2">
          <a href="#" class="flex-grow-1">See all movies in theaters >></a>
          <a href="#">See movies opening next week >></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-3 ">
    <app-share-widget></app-share-widget>

    <app-showtime-movie-near></app-showtime-movie-near>

    <app-showtime-theater-near></app-showtime-theater-near>
  </div>

</div>
