<div class=" rounded bk-grey p-2 mt-2">
  Showing {{nTheater}} theaters with showtimes near you today, {{today|date:'EEEE, MMMM d'}}
  <div class="mt-5" *ngFor="let group of data;let i=index" [ngClass]="{'bk-grey': i%2==0,'bk-white':i%2==1}">
    <div class="font-weight-bold">{{group.groupName}}</div>
    <div *ngFor="let item of group.items">
      <a class="font-weight-bold"
        routerLink="/showtimes/cinema/{{item.id}}/{{location.country}}/{{location.postcode}}/{{today}}">{{item.name}}</a>
      <img class="favourite-icon" src="../../../assets/favourite.png" />

      <div class="font11" innerHTML="{{item.address.address}}" appRouteDirective></div>
      <div *ngIf="item.movies;else elseBlock">
        <div *ngFor="let movie of item.movies" class="overflow-auto">
          <app-showtime-theater-item [data]="movie" overlayStyle="default"
            iconUrl="https://m.media-amazon.com/images/G/01/imdb/images/st_small_hover-3108504300._V_.png">
          </app-showtime-theater-item>
          <div *ngFor="let showtime of movie.showtimes">
            <app-showtime-display [data]="showtime.showtimes" [type]="showtime.type"></app-showtime-display>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div *ngFor="let showtime of item.showtimes">
          <app-showtime-display [data]="showtime.showtimes" [type]="showtime.type"></app-showtime-display>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="font11 mt-3">Movie showtimes data provided by <a
      href="https://www.webediamoviespro.com/#get-listed">Webedia Entertainment</a> and is subject to
    change</div>
</div>
