<div class="border-dotted pt-2">
  <div class="image-size float-left pr-2" [ngClass]="getClass()">
    <app-overlay-image [imageUrl]="data.image.url" [imageTitle]="" [overlayStyle]="overlayStyle" [iconUrl]="iconUrl">
    </app-overlay-image>
  </div>
  <div class="font11">
    <a class="font-weight-bold" routerLink="/showtimes/title/{{data.id}}">{{data.name}}</a>
    <div>
      {{data.duration}} - User Rating: <span class="font-weight-bold">{{data.ratingValue}}</span>/10
      ({{data.ratingCount}} user ratings)
      <span *ngIf="data.metascore!=null" class="metascore"> {{data.metascore}}</span> | Rank: {{data.rank}}
    </div>

  </div>
</div>
