ul {
  list-style-type: none;
}

li {
  display: inline;

  &::after {
    content: '|';
  }

  &:last-child::after {
    content: '';
  }
}

.image-size {
  width: 65px;
  height: 98px;

}

.metascore {
  padding: 3px;
  margin-right: 3px;
  background-color: #ffcc33;
  color: #fff;
}
