.title {
  &-content {
    border-right: 2px solid #999;

    & h2 {
      width: 100%;
      font-size: 24px;
      padding-top: 15px;
      border-top: 1px grey solid;
    }
  }

  &-sidebar {
    border-left: 2px solid #999;
  }

  &-header {
    color: silver;
    // background: #333333;
  }

  &-nav {
    background: #333333;
    padding: 15px;
    list-style-type: none;

    li {
      display: inline;

      &::after {
        content: '|';
        margin-left: 15px;
        margin-right: 15px;
      }

    }

    &-mega {
      padding-top: 15px;
      padding-bottom: 30px;
      background: #2A2A2A;
      margin-left: 0px;
      width: 100%;

      & h3 {
        font-size: 13px;
        font-weight: bold;
        color: #fff;

      }

      &-items {
        list-style-type: none;
        font-weight: 300;
        font-size: 13px;

        .disabled {
          color: #6b6b6b;
        }

        a {
          &:hover {
            color: #63c9ff;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }


  }

  &-info {
    // height: 150px;
    width: 100%;
    background: #333333;
    // padding: 1rem;



    //   &-detail {
    //     // width: 48%;
    //     // float: left;
    //     // margin-left: 1rem;


    //   }


  }
}

.rating {
  &-wrapper {
    float: right;
    position: relative;
    margin-right: 10px;
    width: 192px;
  }

  &-count {
    margin-top: -14px;
  }

  &-value {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }

  &-imdb {
    float: left;
  }

  &-star-button {
    border-left: 1px solid #6b6b6b;
    float: right;
  }

  .fas,
  .far {
    font-weight: 900;
    font-size: 25px;
    padding-top: 8px;
  }
}




.titlebar {
  position: relative;

  .wish-list {
    width: 38px;
    // float: left;
    margin-left: 5px;
    position: absolute;
  }

  h1 {
    font-size: 36px;
    color: #fff;
    // display: inline;
  }

  .titleYear {
    font-size: 25px;
    // margin-left: 10px;
  }

  &-wrapper {
    margin-left: 52px;
  }

  &-sublist {
    list-style-type: none;

    li {
      display: inline;
      font-size: 13px;
      padding-right: 5px;

      &::after {
        content: '|';
        padding-left: 5px;
        font-weight: 200;
      }
    }
  }
}


.btn {
  &-watchlist {
    margin-top: 5px;
    background-color: #0091EA;
    color: white;
    width: 250px;
    height: 36px;
    border: none;
  }

  &-primary {
    border-color: #D5AB55 #c93 #c93 #D5AB55;
    background-color: #f3ce00;
    color: black;
  }
}

.review {
  &-critic {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    float: left;
    width: 25%;
  }

  &-user {
    padding: 1rem;
    width: 25%;
    float: left;
  }

  &-popularity {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  &-vertical {
    font-size: 30px;
    float: left;
    color: grey;
    padding: 5px;
  }
}


.fullcast {
  width: 100%;
  border-top: 1px black dotted;
  margin-top: 10px;
  padding: 3px;
}



.inline {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

.txt-block {
  width: 100%;

}

.see-more {
  font-weight: normal;
}


.imdbRatingStyle {
  background-color: #fff;
  border: 1px solid #666;
  font-size: 18px;
  padding: 2px 2px 1px;
  border-radius: 5px;
  width: 40%;
}

.fa-angle-double-down {
  color: #136CB2;
}

.title-img {
  width: 85x;
  height: 130px;
  padding: 3px;
}

.selected-title {
  font-size: 13px;

  &-image {
    width: 33%;
    float: left;
  }

  &-body {
    float: right;
    width: 65%;
  }

  & .btn-watchlist {
    background-color: #f3ce00;
    border: 1px darkgoldenrod solid;
    border-radius: 5px;
    border-color: #D5AB55 #c93 #c93 #D5AB55;
    background: -webkit-linear-gradient(top, #fefcea 0%, #f3ce00 100%);
    width: 100%;
    font-size: 13px;
    color: black;
    height: 29px;
    margin-bottom: 4px;
  }

  & .btn-next {
    width: 100%;
    font-size: 13px;
    height: 29px;

    border-radius: 5px;
    background: -webkit-linear-gradient(top, #faf8f1 0%, #ece2c6 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0 #C0C0C0 #C0C0C0 #E0E0E0;
    background-color: #ECE2C6;
  }
}

.pag {
  color: #136CB2;
  cursor: pointer;
  line-height: 13px;

  &-disabled {
    color: #ccc;
    cursor: pointer;
  }
}

.details h3 {
  font-size: 20px;
  width: 100%;
  border-top: 1px #dee2e6 solid;
  padding-top: 5px;
}
