.title {
  &-content {
    border-right: 2px solid #999;

    & h2,
    h3 {
      width: 100%;
      font-size: 24px;
      padding-top: 15px;
      border-top: 1px grey solid;
    }
  }

  &-sidebar {
    border-left: 2px solid #999;
  }

  &-header {
    color: silver;
    background: #333333;
  }

  &-nav {
    background: #333333;
    padding: 15px;
    list-style-type: none;

    li {
      display: inline;

      &::after {
        content: '|';
        margin-left: 15px;
        margin-right: 15px;
      }

    }

    &-mega {
      padding-top: 30px;
      padding-bottom: 30px;
      background: #2A2A2A;
      margin-left: 0px;

      h3 {
        font-size: 16px;
        color: #fff;

      }

      &-items {
        list-style-type: none;
        font-weight: 300;
        font-size: 13px;

        .disabled {
          color: #6b6b6b;
        }

        a {
          &:hover {
            color: #63c9ff;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }


  }

  &-info {
    height: 150px;
    width: 100%;
    background: #333333;
    padding: 1rem;

    .wish-list {
      width: 45px;
      float: left;

    }

    &-detail {
      width: 40%;
      float: left;
      margin-left: 1rem;

      h1 {
        font-size: 36px;
        color: #fff;
        display: inline;
      }

      .title-year {
        font-size: 28px;
        margin-left: 10px;
      }
    }

    .sub-list {
      list-style-type: none;

      li {
        display: inline;
        font-size: 13px;
        margin-right: 15px;

        &::after {
          content: '|';
          margin-left: 15px;
          font-weight: 200;
        }
      }
    }

    .rating {
      &-wrapper {
        margin-left: 30rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      &-value {
        font-size: 32px;
        font-weight: bold;
        color: white;
      }
    }

    .fas,
    .far {
      font-weight: 900;
      font-size: 25px;
      padding-top: 8px;
    }

    .vertical-align {
      font-size: 40px;
      padding: 0 5px;
    }
  }


}


.btn {
  &-watchlist {
    background-color: #0091EA;
    color: white;
    width: 50%;
  }

  &-primary {
    border-color: #D5AB55 #c93 #c93 #D5AB55;
    background-color: #f3ce00;
    color: black;
  }
}

.review {
  &-critic {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    float: left;
    width: 25%;
  }

  &-user {
    padding: 1rem;
    width: 25%;
    float: left;
  }

  &-popularity {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  &-vertical {
    font-size: 30px;
    float: left;
    color: grey;
    padding: 5px;
  }
}


.fullcast {
  width: 100%;
  border-top: 1px black dotted;
  margin-top: 10px;
  padding: 3px;
}

.rightcornerlink {
  position: absolute;
  right: 20px;
  border-left: 1px dotted #ccc;
  padding-left: 5px;
  padding-top: 15px;
}



.inline {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

.txt-block {
  width: 100%;

}

.see-more {
  font-weight: normal;
}

.list {
  &-name {
    margin: 4px 0 0 96px;
    font-size: 13px;
  }

  &-meta {
    font-size: 11px;
    color: #666;
    margin: 12px 0 5px 96px;
  }

  &-user {
    padding-bottom: 15px;
  }

  &-poll {
    padding-bottom: 72px;
  }
}

.imdbRatingStyle {
  background-color: #fff;
  border: 1px solid #666;
  font-size: 18px;
  padding: 2px 2px 1px;
  border-radius: 5px;
  width: 40%;
}

.fa-angle-double-down {
  color: #136CB2;

}
