<div class="row" *ngIf="data">
  <div class="col-md-8 title-content border-right">
    <div class="row title-header">
      <ul class="title-nav">
        <li><a class="color-white" routerLink="fullcredits">FULL CAST AND CREW</a></li>
        <li><a class="color-white" routerLink="trivia">TRIVIA</a></li>
        <li><a class="color-white" routerLink="reviews">USER REVIEWS </a></li>
        <li><a class="color-white" href="https://pro.imdb.com/title/{{data.id}}">IMDbPro </a></li>
        <li *ngIf="toggleMegaMenu === false">
          <a (click)="toggleMenuClick()">MORE <i class="color-grey fas fa-angle-double-down ml-1"></i></a>
        </li>
        <li *ngIf="toggleMegaMenu === true">
          <a (click)="toggleMenuClick()">LESS <i class="color-grey fas fa-angle-double-up ml-1"></i></a>
        </li>
        <li>SHARE </li>
      </ul>
      <div class="title-nav-mega row" *ngIf="toggleMegaMenu === true">
        <div class="col-md-3">
          <h3>DETAILS</h3>
          <ul class="title-nav-mega-items">
            <li><a class="color-white" routerLink="fullcredits">Full Cast and Crew</a></li>
            <li><a class="color-white" routerLink="releaseinfo">Release Dates</a></li>
            <li><a class="color-white" routerLink="officialsites">Official Sites</a></li>
            <li><a class="color-white" routerLink="companycredits ">Company Credits</a></li>
            <li><a class="color-white" routerLink="locations">Filming & Production</a></li>
            <li><a class="color-white" routerLink="technical">Technical Specs</a></li>

          </ul>
        </div>
        <div class="col-md-3">
          <h3>STORYLINE</h3>
          <ul class="title-nav-mega-items">
            <li><a class="color-white" routerLink="taglines">Taglines</a></li>
            <li><a class="color-white" routerLink="plotsummary">Plot Summary</a></li>
            <li class="disabled"><a class="color-white" routerLink="synopsis">Synopsis</a></li>
            <li><a class="color-white" routerLink="keyword">Plot Keywords</a></li>
            <li><a class="color-white" routerLink="parentalguide">Parents Guide</a></li>

          </ul>
          <h3 class=" mt-4">RELATED ITEMS</h3>
          <ul class="title-nav-mega-items">
            <li><a class="color-white" routerLink="news">News</a></li>
            <li><a class="color-white" routerLink="externalsites">External Sites</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>OPINION</h3>
          <ul class="title-nav-mega-items">
            <li class="disabled"><a class="color-white" routerLink="awards">Awards</a></li>
            <li><a class="color-white" routerLink="faq">FAQ</a></li>
            <li><a class="color-white" routerLink="reviews">User Reviews</a></li>
            <li><a class="color-white" routerLink="ratings">User Ratings</a></li>
            <li><a class="color-white" routerLink="externalreviews">External Reviews</a></li>
            <li><a class="color-white" routerLink="criticreviews">Metacritic Reviews</a></li>
          </ul>
          <h3 class="mt-4">PHOTO & VIDEO</h3>
          <ul class="title-nav-mega-items">
            <li><a class="color-white" routerLink="mediaindex">Photo Gallery</a></li>
            <li><a class="color-white" routerLink="videogallery">Trailers and Videos</a></li>
          </ul>

        </div>
        <div class="col-md-3">
          <h3>DID YOU KNOW?</h3>
          <ul class="title-nav-mega-items">
            <li><a class="color-white" routerLink="trivia">Trivia</a></li>
            <li><a class="color-white" routerLink="goofs">Goofs</a></li>
            <li><a class="color-white" routerLink="crazycredits">Crazy Credits</a></li>
            <li><a class="color-white" routerLink="quotes">Quotes</a></li>
            <li><a class="color-white" routerLink="alternateversions ">Alternate Versions</a></li>
            <li><a class="color-white" routerLink="movieconnections">Connections</a></li>
            <li><a class="color-white" routerLink="soundtrack">Soundtracks</a></li>
          </ul>
        </div>
      </div>

      <div class="title-info" *ngIf="data">
        <div class="wish-list">
          <img class="w-100" title="Click to add to watchlist" src="../../../assets/add-to-watchlist.png" />
        </div>
        <div class="title-info-detail">
          <h1>{{data.name}}</h1>
          <span class="title-year">
            <a class="color-grey" href="/year/{{data.year}}">({{data.year}})</a></span>
        </div>

        <div class="rating-wrapper mb-5">
          <div class="d-flex flex-row imdbRating ">
            <i class="fas fa-star  color-gold"></i>
            <div>
              <span class="rating-value">{{data.ratingValue}}</span>
              <span>/10</span>
              <div class="rating-count">
                <a class="color-white font11" routerLink="ratings">{{data.ratingCount|valueFormat}}</a>
              </div>
            </div>
          </div>
          <span class="vertical-align">|</span>
          <div>
            <i class="far fa-star "></i>
            <span class="font15 pt-2">Rate This</span>
          </div>
        </div>
        <div>
          <ul class="sub-list mt-3">
            <li>{{data.contentRating}}</li>
            <li>{{data.length}}</li>
            <li>{{data.genre}}</li>
            <li>{{data.datePublished}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row bk-black">
      <div class="col-4">
        <img title="{{data.image.title}}" src="{{data.image.url}}">
      </div>
      <div class="col-8">
        <app-video-image [imageUrl]="data.trailer.image.url" [imageTitle]="data.trailer.image.title"
          [caption]="caption"></app-video-image>
      </div>
    </div>

    <div class="row p-3 border-bottom">
      <div class="w-100"><a routerLink="/showtimes/title/{{data.id}}" [queryParams]="{date:today}">Get Showtimes</a>
      </div>
      <div title="In Theaters">In 37 theaters near 3030 AU [change]</div>
    </div>

    <div class="row pt-3 pl-3">
      <div class="w-100"> {{data.description}}</div>
      <div class="w-100" *ngIf="data.directors">
        <app-string-display title="Directors" [data]="data.directors" splitType="splitComma" stringName="name">
        </app-string-display>
      </div>
      <div class="w-100" *ngIf="data.creators">
        <app-string-display title="Writers" [data]="data.creators" splitType="splitComma" stringName="name">
        </app-string-display>
      </div>
      <div class="w-100" *ngIf="data.stars">
        <app-string-display title="Stars" [data]="data.stars" splitType="splitComma" stringName="name">
        </app-string-display>
        | <a routerLink="fullcredits"> See full cast & crew »</a>
      </div>
      <div class=" w-100">
        <button title="Click to add to watchlist" class="btn-watchlist" (click)="OnLoad()">+ Add to
          Watchlist</button>
      </div>
      <div class="w-100 font13">
        <div class="review-critic">
          <div class="metascore-green align-self-center"> {{data.metascore}}</div>
          <div class="pl-2">
            <div> <a routerLink="criticreviews">Metascore</a></div>
            <div> From <a href="https://www.metacritic.com" target="_blank">metacritic.com </a></div>
          </div>
        </div>
        <div class="review-vertical">|</div>
        <div class="review-user">
          <div>Reviews</div>
          <div>
            <a routerLink="reviews">{{data.userReviews}}</a>
            <span class="color-grey">|</span>
            <a routerLink="externalreviews"> {{data.externalReviews}}</a>
          </div>
        </div>
        <div class="review-vertical">|</div>
        <div class="review-popularity">
          <div class="align-self-center font18">
            <i class="font18 border-left border-bottom fas fa-long-arrow-alt-right"></i>
          </div>
          <div class="pl-2">
            <div> Popularity</div>
            <div> {{data.popularity}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-top  p-3">
      <a href="https://pro.imdb.com/title/{{data.id}}?rf=cons_tt_atf&ref_=cons_tt_atf">View production, box office, &
        company info on IMDbPro
      </a>
    </div>

    <div class="row  p-3">
      <h2>Can't Get Enough Marvel?</h2>
      <div>IMDb has 'Avengers' and the whole Marvel Cinematic Universe covered with all the latest clips, interviews,
        and in-depth info.</div>
      <a routerLink="/list/{{data.trailer.listId}}/videoplayer/{{data.trailer.videoId}}">Check out our Marvel video
        playlist »</a>
    </div>

    <div class="row border-top border-bottom bk-yellow p-3">
      <a class="font-weight-bold" routerLink="/chart/top">Top Rated Movies #9</a>
      <span class="pl-3">| See <a routerLink="/chart/top">the Top Rated Movies</a> as rated by our users.</span>
    </div>

    <div class="row p-3">
      <h2>Videos</h2>
      <div class="ml-1 lr-1" *ngFor="let item of data.videos">
        <a routerLink="videoplayer/{{item.id}}">
          <img src="{{item.poster.url}}"></a>
      </div>
      <div class="pt-3">
        <a routerLink="videogallery"> See all {{data.videoCounts}} videos »</a>
      </div>
    </div>

    <div class="row p-3">
      <h2>Photos</h2>
      <div class="ml-1 lr-1" *ngFor="let item of data.images">
        <a routerLink="mediaviewer/{{item.viewerId}}"><img title="{{item.title}}" src="{{item.url}}"></a>
      </div>
      <div class="pt-3">
        <a routerLink="mediaindex">See all {{data.imageCounts}} photos »</a>
      </div>
    </div>

    <div class="row p-3" *ngIf="similarTitles">
      <h2>More Like This</h2>
      <div class="col-5">
        <div><a *ngFor="let item of similarTitles" routerLink="/title/{{item.id}}">
            <img class="title-img" src="{{item.image.url}}" title="{{item.image.title}}"
              (mouseover)="onMouseOver(item)"></a>
        </div>
        <div class="text-center font13 mt-2">
          <span class="pag pag-disabled mr-2" [ngClass]="{'pag-disabled': PrevDisabled}" (click)="onPrevPag()">◄ Prev
            6</span>
          <span class="pag" [ngClass]="{'pag-disabled': PrevDisabled===false}" (click)="onNextPag()">Next 6 ►</span>
        </div>
      </div>
      <div class="col-7 selected-title" *ngIf="selectedTitle">
        <div class="selected-title-image">
          <div> <a routerLink="/title/{{selectedTitle.id}}"> <img src="{{selectedTitle.image.url}}"
                title="{{selectedTitle.image.title}}"></a></div>
          <div><button class="btn-watchlist">Add to Watchlist</button></div>
          <div> <button class="btn-next" (click)="onNext()">Next »</button></div>
        </div>
        <div class="selected-title-body">
          <div>
            <a class="font-weight-bold" routerLink="/title/{{selectedTitle.id}}">{{selectedTitle.name}}</a>
            <span class="color-grey">{{selectedTitle.year}}</span>
          </div>
          <div>
            <span>{{data.contentRating}}</span>
            <app-string-display splitType="splitVertical" [data]="selectedTitle.genres"> </app-string-display>
          </div>
          <app-ratings [starsCount]="selectedTitle.rateValue"></app-ratings>
          <div class="mt-1">{{selectedTitle.description}}</div>
          <br />
          <app-string-display title="Directors" splitType="splitVertical" [data]="selectedTitle.directors">
          </app-string-display>
          <app-string-display title="Stars" splitType="splitVertical" [data]="selectedTitle.stars">
          </app-string-display>

        </div>
      </div>
    </div>

    <div class="row p-3">
      <span class="rightcornerlink "> <a href="/register/login">Edit</a></span>
      <h2>Cast</h2>
      <div class="w-100">Cast overview, first billed only:</div>

      <app-casts class="w-100" [data]="data.casts"></app-casts>
      <div class="fullcast">
        <a routerLink="fullcredits">See full cast »</a> </div>
      <div> <a routerLink="/title/{{data.id}}"> View production, box office, & company info on IMDbPro </a></div>
    </div>

    <div class="row  p-3">
      <span class="rightcornerlink "> <a href="/register/login">Edit</a></span>
      <h2>Storyline</h2>

      <div class="pt-2"> {{data.storyline}} </div>
      <div class="pt-2 pb-2  w-100">
        <a routerLink="plotsummary">Plot Summary</a>
        <span class="color-grey ml-3 mr-3">|</span>
        <a routerLink="synopsis">Plot Synopsis</a>
      </div>
      <div *ngIf="data.keywords" class="border-top pt-2 pb-2">
        <app-string-display title="Plot Keywords" splitType="splitVertical" [data]="data.keywords"
          routerLink="/search/keyword" param="keywords">
        </app-string-display>
        <span class="color-grey">|</span>
        <a routerLink="keywords" class="pl-1">See All »</a>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <span class="font-weight-bold color-grey">Taglines: </span>
        <span> Avenge the fallen. </span>
        <a routerLink="taglines">See more »</a>
      </div>
      <div *ngIf="data.genres" class="border-top pt-2 pb-2">
        <app-string-display title="Genres" splitType="splitVertical" [data]="data.genres" routerLink="/search/title"
          param="genres"> </app-string-display>
      </div>
      <div class="border-top pt-2 pb-2">
        <div>
          <span class="font-weight-bold color-grey">Motion Picture Rating</span>
          (<a routerLink="/mpaa">MPAA </a>)
        </div>
        Rated PG-13 for sequences of sci-fi violence and action, and some language | <a routerLink="parentalguide">See
          all certifications »</a>
        <div>
          <span class="font-weight-bold color-grey">Parents Guide:</span>
          <a routerLink="parentalguide"> View content advisory »</a>
        </div>
      </div>
    </div>

    <div class="row details p-3" innerHTML="{{data.details}} appRouteDirective" appRouteDirective> </div>

    <div class="row p-3">
      <span class="rightcornerlink"> <a href="/register/login">Edit</a></span>
      <h2>Did you know?</h2>
      <div class="pb-2">
        <span class="font-weight-bold color-grey">Trivia</span>
        <div innerHTML="{{data.trivia}}" appRouteDirective></div>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <div>
          <span class="font-weight-bold color-grey">Goofs</span>
          <div innerHTML="{{data.goofs}}" appRouteDirective></div>
        </div>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <div>
          <span class="font-weight-bold color-grey">Crazy Credits</span>
          <div innerHTML="{{data.crazyCredits}}" appRouteDirective></div>
        </div>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <div>
          <span class="font-weight-bold color-grey">Alternate Versions</span>
          <div innerHTML="{{data.alternativeVersions}}" appRouteDirective></div>
        </div>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <div>
          <span class="font-weight-bold color-grey">Connections</span>
          <div innerHTML="{{data.connections}}" appRouteDirective></div>
        </div>
      </div>
      <div class="border-top pt-2 pb-2 w-100">
        <div>
          <span class="font-weight-bold color-grey">Sound Tracks</span>
          <div innerHTML="{{data.soundtracks}}" appRouteDirective></div>
        </div>
      </div>
    </div>

    <div class="row p-3">
      <h2>Frequently Asked Questions</h2>
      <div *ngIf="data.faqs.length === 0;else elseBlock">
        <a routerLink="faq?ref_=tt_faq_sm">This FAQ is empty. Add the first question.</a>
      </div>
      <ng-template #elseBlock>
        <div *ngFor="let item of data.faqs;let i=index" [ngClass]="{'bk-grey': i%2===0,'bk-white':i%2==1}">
          <span class="font-weight-bold mr-2">Q:</span>
          <a routerLink="faq?ref_=tt_faq_2#{{item.id}}">{{item.title}}</a>
        </div>
        <div><a routerLink="faq?ref_=tt_faq_sm">See more »</a></div>
      </ng-template>
    </div>

    <div class="row p-3">
      <h2>User Reviews</h2>
      <div class="w-100">
        <app-ratings *ngIf="data.topReview.reviewRating" class="float-left"
          [starsCount]="data.topReview.reviewRating.ratingValue"></app-ratings>
        <span class="ml-2 font-weight-bold"> {{data.topReview.name}}</span>
      </div>
      <div class="font11 w-100">
        {{data.topReview.dateCreated}}
        | by
        <a routerLink="/user/90995926">{{data.topReview.author.name}}</a> - <a routerLink="/user/90995926">See all my
          reviews</a>
      </div>
      <div class="pt-2 pb-2">{{data.topReview.reviewBody}}</div>
      <div class="border-top pt-2 pb-2">
        89 of 308 people found this review helpful. Was this review helpful to you?
        <button class="mr-1 bk-yellow">Yes</button>
        <button class="bk-yellow"> No</button>
        | <a routerLink="/registration/signin?u=/title/{{data.id}}/&ref_=tt_urv">Report this</a>
      </div>
      <div>
        <a routerLink="/registration/signin?u=/title/{{data.id}}/&ref_=tt_urv">Review this title</a>
        |
        <a routerLink="reviews">See all 10 user reviews »</a>
      </div>
    </div>

    <div class="row p-3">
      <span class="rightcornerlink">
        <a
          href="https://help.imdb.com/article/contribution/contribution-information/adding-data/G6BXD2JFDCCETUF4?ref_=cons_tt_cn_gs_hlp#">Getting
          Started </a>
        <a href="/czone">| Contributor Zone »</a></span>
      <h2>Contribute to This Page</h2>
      <button class="btn-primary">Edit page</button>
    </div>

    <div class="row border-top p-3">
      Explore popular action and adventure titles available to stream with Prime Video.»
    </div>


  </div>


  <div class="col-md-4 title-sidebar">
    <div class="pt-3 pb-3">
      <h5> {{data.featuredList.title}}</h5>
      <a routerLink="/list/{{data.featuredList.listId}}/videoplayer/{{data.featuredList.videoId}}">
        <app-video-image [imageUrl]="data.featuredList.image.url" [imageTitle]="data.featuredList.image.title">
        </app-video-image>
      </a>
      <div class="pt-2" innerHTML="{{data.featuredList.content}}" appRouteDirective></div>
    </div>

    <div class="border-top pt-3 pb-3">
      <h5>Related News</h5>
      <div class="p-2 " *ngFor="let item of data.relatedNews">
        <a routerLink="/news/{{item.id}}">{{item.title}}</a>
        <div>{{item.date}} | {{item.source}}</div>
      </div>
      <div class="border-top border-bottom">
        <a routerLink="news">See all related articles »</a>
      </div>
    </div>

    <div class="border-top pt-3 pb-3">
      <h5>Editorial Lists</h5>
      <span>Related lists from IMDb editors</span>
      <app-list [data]="data.editorialList" link="list"></app-list>
    </div>

    <div class="border-top">
      <app-user-list [data]="data.userList" [id]="id" link="list"></app-user-list>
    </div>

    <div class="border-top pt-3 pb-3">
      <h5>Share this Rating</h5>
      <div>
        Title: <span class="font-weight-bold">{{data.name}}</span> ({{data.year}})
      </div>
      <div class="imdbRatingStyle">
        <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_46x22-2264473254._CB470047279_.png">
        <span class="font-weight-bold ml-2">{{data.ratingValue}}</span>
        <span class="font11 mr-2">/10</span>
        <i class="fas fa-star color-gold"></i>
      </div>
      <div> Want to share IMDb's rating on your own site? Use the HTML below.</div>
      <div>
        <i class="fas fa-angle-double-down"></i>
        <a class="ml-1 mr-3" routerLink="/plugins" [queryParams]="{titleId:data.id}">Show HTML</a>
        <a routerLink="/plugins" [queryParams]="{titleId:data.id}">View more styles</a>
      </div>
    </div>

    <div class="border-top pt-3 pb-3">
      <h5 class="font18">User Polls</h5>
      <app-list [data]="data.userPolls" link="poll"></app-list>
      <div class="border-top border-bottom mt-2 pt-2 pb-2">
        <a routerLink="/poll">See more polls »</a>
      </div>
    </div>
  </div>
</div>
