<nav *ngIf="pages.length!==1">
  <a routerLink="/title/{{id}}/mediaindex" [queryParams]="{page:'3'}"> « Prev </a>

  <ul>
    <li *ngFor="let ipage of pages" class="page-item">
      <span *ngIf="currentPage == ipage" class="page-link current">{{currentPage}}</span>

      <a *ngIf="currentPage !== ipage" class="page-link" routerLink="/gallery/{{id}}"
        [queryParams]="getQuery(ipage)">{{ipage}}</a>

  </ul>
  <a routerLink="/title/{{id}}/mediaindex" [queryParams]="{page:'3'}"> Next »</a>
</nav>
