<nav *ngIf="pages.length!==1" aria-label="Page navigation example">
  <ul class="pagination">
    <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
    <li *ngFor="let ipage of pages" class="page-item">
      <span class="page-link color-gold current" *ngIf="currentPageNumber == ipage.toString()">{{currentPage}}</span>
      <a class="page-link" *ngIf="currentPageNumber != ipage.toString()" routerLink="/gallery/{{id}}"
        [queryParams]="{page: ipage}">{{ipage}}</a></li>
    <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
  </ul>
</nav>
