<div class="row">
  <div class="col-md-4">
    <img src="https://m.media-amazon.com/images/M/MV5BMTY0MTA2MzUwMV5BMl5BanBnXkFtZTgwODQxNzYzNzM@._V1_SY298_SX201_AL_.jpg">
  </div>
  <div class="col-md-4">
    <img src="https://m.media-amazon.com/images/M/MV5BMTY0MTA2MzUwMV5BMl5BanBnXkFtZTgwODQxNzYzNzM@._V1_SY298_SX201_AL_.jpg">
  </div>
  <div class="col-md-4">
    <img src="https://m.media-amazon.com/images/M/MV5BMTY0MTA2MzUwMV5BMl5BanBnXkFtZTgwODQxNzYzNzM@._V1_SY298_SX201_AL_.jpg">
  </div>
</div>
