ul {
  padding-inline-start: 3px;

}

.release-list {
  margin-left: 15px;
  font-size: 13px;
}

.border-style ul {
  list-style-type: none;
  margin-block-start: 0px;
  //   padding-inline-start: 0px;
}
