<div class="row fullscreen">
  <div class="col-8">
    <button type="button" class="btn-close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fas fa-share-alt" title="Share this video"></i>

    <div class="video-display">
      <vg-player *ngIf="primaryMetadata">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
          <source src="{{primaryMetadata.encodings[1].videoUrl}}" type="{{primaryMetadata.encodings[1].videoMimeType}}">

          <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
            srclang="en" default> -->

        </video>
      </vg-player>
    </div>
  </div>
  <div class="col-4 border-left color-white ">
    <div class="video-related" *ngIf="playList">
      <div class="font-weight-bold p-1"> Related Videos</div>
      <div class="font11 p-1" *ngIf="playList.length!=1">{{currentInd}} of {{playList.length}}</div>
      <i class="fas fa-angle-right "></i>
    </div>

    <div class="scrollable-area">
      <div class="primary-relation-card p-2 font13" *ngIf="primaryRelation">
        <img class="float-left" src="{{primaryRelation.poster.url}}">
        <img class="wishlist" title="Click to add to watchlist" src="../../../assets/add-to-watchlist.png">
        <span class="p-1">{{primaryRelation.name}}</span>
      </div>

      <div class="video-description" *ngIf="primaryMetadata">
        <span class="pt-3 font-weight-bold"> {{primaryMetadata.title}} ({{primaryMetadata.duration}})</span>
        <i class="fas fa-angle-down" [ngClass]="{'hidden': !bHidden}" (click)="onClickDown()"></i>
        <i class="fas fa-angle-up" [ngClass]="{'hidden': bHidden}" (click)="onClickUp()"></i>
        <div class="meta-description" [ngClass]="{'expanded': bHidden}"> {{primaryMetadata.description}}</div>
      </div>

      <div *ngFor="let item of metadataList" class="playlist" [ngClass]="{'selected': item.videoId==videoId}"
        (click)="onSelectVideo()">
        <!-- <a routerLink="/videoplayer/{{item.videoId}}"> -->

        <div class="float-left image">
          <img src="{{item.smallSlate.url}}">
        </div>
        <div class="font11 image">
          <div class="video-title">{{item.title}}</div>
          <div class="secondary-text">{{item.name}}</div>
          <div class="secondary-text">{{item.duration}}</div>
        </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
</div>
