<app-page-display [data]="data" [id]="id" [queryParams]="queryParams"></app-page-display>

<div class="d-flex flex-wrap  mt-1">
  <div class="p-1" *ngFor="let item of data.items">
    <a routerLink="mediaviewer/{{item.viewerId}}"><img title="{{item.title}}" src="{{item.image.url}}"></a>
  </div>
</div>
<div class="mt-3">
  <app-page-display [data]="data" [id]="id" [queryParams]="queryParams"></app-page-display>

  <a *ngIf="data.seeMore && data.seeMore.url" routerLink="/name/{{queryParams.refine}}/mediaindex"
    [queryParams]="data.seeMore.url|toQueryObject">{{data.seeMore.text}}</a>
</div>
