<h3 class="m-3 font-weight-bold">{{data.header}}</h3>
<div class="row " *ngIf="data">
  <div class="col-12 ml-3" *ngIf="data.currentFilter">
    <a routerLink="/gallery/{{id}}">All</a>
    <span class="font-weight-bold"> {{ data.currentFilter  }}</span>
  </div>
</div>

<div class="row" *ngIf="data">
  <div class="col-8">
    <div class="ml-3 mb-3 p-3 border rounded">
      <app-photo-display [data]="data" [id]="id" [queryParams]="queryParams"></app-photo-display>
    </div>
  </div>

  <div class="col-4">
    <app-photo-refine [data]="data"></app-photo-refine>
  </div>
</div>
