<div class="mb-3 header d-flex">
  <span *ngIf="currentFilter" class="rightcornerlink">
    <a href="/register/login">Edit</a>
  </span>
  <span *ngIf="!currentFilter" class="rightcorner">
    <a routerLink="/name/{{id}}/resume"> View Official IMDb Resume Photos » </a>
  </span>

  <a class="float-left mr-2" routerLink="/name/{{data.id}}"> <img src="{{data.image.url}}"></a>
  <div class="title">
    <div>
      <a class="title-name" routerLink="/name/{{data.id}}">{{data.title}}</a>
    </div>
    <div class="title-type">{{data.subTitle}}</div>

    <div *ngIf="type==='mediaindex' && currentFilter">
      <a routerLink="/name/{{data.id}}/mediaindex">All </a> >
      <span class="font-weight-bold"> {{currentFilter}}</span>
    </div>
    <div *ngIf="type==='videogallery' && currentFilters.length!==0 ">
      <a routerLink="/name/{{data.id}}/videogallery">All </a>
      <span *ngFor="let item of currentFilters">
        >
        <a>{{item.title|getSectionName}}</a>
        <a *ngIf="item.refine===''" routerLink="/name/{{data.id}}/videogallery"> [x] </a>
        <a *ngIf="item.refine!==''" routerLink="/name/{{data.id}}/videogallery" [queryParams]="{refine:item.refine}">
          [x] </a>
      </span>
    </div>


  </div>
</div>
