// .article-icon {
//   left: 80px;
//   top: 80px;
// }

.icon-wrap {
  position: absolute;
  top: 0;
  align-items: center;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.caption {
  bottom: 0;
  color: silver;
  font-size: 11px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;

}
