<div class="p-2 bk-grey rounded mt-2 mb-2">
  <div class="color-gold font-weight-bold">Theaters Near You (<a
      routerLink="/showtimes/{{location.country}}/{{location.postcode}}">{{nTheater}}</a>)
  </div>
  <div *ngFor="let iTheater of theatersNear">
    <div class="font-weight-bold font11 pt-3 pb-3">{{iTheater.groupName}}......</div>
    <div *ngFor="let item of iTheater.items">
      <a class="font13 pl-3"
        routerLink="/showtimes/cinema/{{location.country}}/{{item.id}}/{{location.country}}/{{location.postcode}}">{{item.name}}</a>
    </div>
  </div>
</div>
