<app-refinement [data]="metaData" (refineChange)="onRefineChange($event)"></app-refinement>

<div class="border mt-2 bk-trans">
  <div class="d-flex">
    <span class="flex-grow-1"> {{nMovie}} movies playing near you today, {{today|date:'EEEE, MMMM d'}}</span>
    <app-sort datasetType="movie" (sortChange)="onSortChange($event)"></app-sort>
  </div>
  <div class="d-flex flex-wrap">
    <div *ngFor="let item of movies" class="m-2" style="width: 22%">
      <app-image-popover [data]="item" *ngIf="movies.length>0"></app-image-popover>
    </div>
  </div>
  <div class="font11 mt-3">Movie showtimes data provided by <a href="#">Webedia Entertainment</a> and is subject to
    change</div>
</div>
