.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 9999;

  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: black;
}



.image {
  height: 900px;
  background-size: cover;

  &-viewer {
    position: relative;
    text-align: center;
  }
}

.view {
  &-header {
    position: absolute;
    top: 0;
    padding: 20px;
    transition: .5s ease;
    opacity: 0;

    text-align: center;
    width: 100%;
    background: rgba(20, 20, 20, 0.85);

    &-title {
      text-decoration: none !important;
      color: white;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    background: rgba(20, 20, 20, 0.85);
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 13px;
    padding: 20px;
  }

  &-image-info {
    max-width: 640px;
    margin: auto;
  }
}

.fullscreen:hover .fas {
  opacity: 1;
}

.fullscreen:hover .view-footer {
  opacity: 1;
}

.fullscreen:hover .view-header {
  opacity: 1;
}


.btn {
  background: rgba(0, 0, 0, 0.5);
  border: 1px white solid;
  border-radius: 3px;
  color: white;

}

.fas {
  position: absolute;
  opacity: 0;
  top: 40%;
  color: white;
}

.fa-arrow-right {
  right: 30px;
}


.fa-arrow-left {
  left: 30px;
}



.btn-close {
  float: right;
  position: relative;
  background: rgba(20, 20, 20, 0.85);
  color: white;
  border: none;
}
