<div class="row">
  <div class="col-md-8  p-3">
    <div class="border rounded p-3">
      <a routerLink="/showtimes/movies" class="font-weight-bold font21">Showtimes</a>
      <div class="overflow-auto">
        <h5 class="float-left pr-3">{{postcode}} {{country}}</h5>
        <button class="btn btn-link" (click)="onChangeClick()">Change</button>
      </div>
      <div class="change-location">
        <input type="text" class="postcode mr-1" placeholder="Postal code" value="{{postcode}}">

        <select class="country" [(ngModel)]="country">
          <option *ngFor="let item of countryList" [ngValue]="item">{{item}}</option>
        </select>
        <button type="submit" class="btn-go btn-outline-secondary mr-1 ml-1">Go</button>
        <button type="button">[X]</button>
      </div>


      <app-weekday-select [type]="type"></app-weekday-select>

      <ul class="nav nav-tabs position-relative mt-3">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/showtimes/movies">Movies
            ({{nMovie}}) </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/showtimes/theater">Theater
            ({{nTheater}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/showtimes/favourite">Favourite
            (0)</a>
        </li>
        <div class="link-right">
          <a routerLink="/movies/in-theater"> Opening this week</a>
          <span> | </span>
          <a routerLink="/movies/coming-soon">Coming Soon >>></a>
        </div>
      </ul>
      <router-outlet></router-outlet>

    </div>
  </div>
  <div class="col-md-4 p-3 ">
    <div class="rounded bk-grey">
      <div *ngIf="type!='favourite'">
        <app-favourite></app-favourite>
      </div>
      <div *ngIf="type!='movies'">
        <app-showtime-movie-near> </app-showtime-movie-near>
      </div>
      <div *ngIf="type!='theater'">
        <app-showtime-theater-near></app-showtime-theater-near>
      </div>
      <app-share-widget></app-share-widget>

    </div>

  </div>
