<app-title-home *ngIf="isTitleHome"></app-title-home>

<div class="row" *ngIf="!isTitleHome && data">
  <div class="col-8 p-3 ">
    <div class="p-3 border rounded ">
      <app-title-header [data]="data.item"></app-title-header>
      <router-outlet></router-outlet>
    </div>
    <app-see-also [data]="data.seeAlso"></app-see-also>
    <app-contribute></app-contribute>
  </div>

  <div class="col-4 p-3">
    <app-menu [data]="data.item.menus" [name]="data.item.name" [type]="titleType"></app-menu>
    <app-share-page [fbUrl]="fbUrl" [twitterUrl]="twitterUrl"></app-share-page>
    <div class="border rounded grey mt-2 ">
      <app-user-list [data]="data.userList" [id]="data.item.id" link="list"></app-user-list>
    </div>
  </div>
</div>
