.header {
  & img {
    height: 98px;
    width: 67px;
  }

  & .title {
    // margin-left: 80px;

    &-name {
      font-size: 20px;
    }

    &-type {
      font-size: 27px;
    }
  }
}



.selected {
  color: black;
  border: 1px grey solid;
  border-radius: 5px;
  padding: 3px;
}

.hidden {
  display: none;
}

.fa-facebook-square {
  color: cornflowerblue;
}

.fa-twitter {
  color: cyan;
}
