<div *ngIf="data">
  <app-jump-to [data]="data" url="/title/{{id}}/releaseinfo"></app-jump-to>

  <div *ngFor="let detailList of data">
    <div class="title-header">
      <h4 class="dataHeaderWithBorder">
        <a name="{{detailList.name}}">{{detailList.name}}</a>
      </h4>

      <div class="row ml-1 mr-1 p-2" *ngFor="let item of detailList.items;let i=index"
        [ngClass]="{'bk-grey': i%2===0,'bk-white':i%2===1}">
        <div class="col-3"> <a routerLink="/calendar/?region={{item.regionId}}">{{item.regionName}}</a></div>
        <div class="col-3">{{item.releaseDate}}</div>
        <div class="col-6">{{item.attributes}}</div>
      </div>

    </div>
  </div>
</div>
