<div class="row p-2 " *ngIf="data">
  <div class="col-3" *ngIf="data.poster">
    <img src="{{data.poster.url}}" title="{{data.poster.title}}">
  </div>
  <div class="col-9 font11">
    <h4><a routerLink="/title/{{data.id}}">{{data.name}}</a></h4>
    <!-- href -->
    <div class="m-2" *ngIf="data.certImage">
      <img class="d-inline" src="{{data.certImage.url}}">
      <div class="d-inline"> {{data.length}} - </div>
      <div *ngIf="data.generes">
        <app-string-display [data]="data.generes" splitType="splitVertical" stringName="generes"></app-string-display>
      </div>

    </div>
    <div *ngIf="data.rating" class="rounded">
      <app-ratings [starsCount]="data.rating"></app-ratings>
    </div>
    <div class="m-2 d-block" *ngIf="data.metascore!=''">
      <span class="d-inline metascore-green"> {{data.metascore}}</span>
      <span>Metascore </span>
    </div>
    <div innerHTML="{{data.description}}"></div>
    <div *ngIf="data.directors">
      <app-string-display *ngIf="data.directors.length>1" title="Directors" [data]="data.directors"
        splitType="splitVertical" stringName="name"></app-string-display>
      <app-string-display *ngIf="data.directors.length===1" title="Director" [data]="data.directors"
        splitType="splitVertical" stringName="name"> </app-string-display>
    </div>
    <div *ngIf="data.stars">
      <app-string-display title="Stars" [data]="data.stars" splitType="splitComma" stringName="name">
      </app-string-display>
    </div>
    <div *ngIf="boxOffice">
      <span class="font-weight-bold d-inline-flex">Stars: </span>
    </div>
    <button class="bk-yellow rounded mt-2 mr-2" *ngIf="data.trailer.id">Watch Trailer</button>
    <button class="bk-yellow rounded mt-2">Add to Watchlist</button>
  </div>
</div>
