<div class="d-flex">
  <div class="flex-grow-1"> {{display}} </div>

  <nav *ngIf="pages.length!==1" class="ml-3">
    <ul class="font15 ">
      <li *ngIf="currentPage!=='1'" class="pr-2">
        <a [routerLink]="url|queryUrl" [queryParams]="getQuery(currentPage-1)"> « Previous </a>
      </li>

      <li *ngFor="let ipage of pages" class="page-link">
        <span *ngIf="ipage.toString() ===currentPage" class="current">{{currentPage}}</span>
        <a *ngIf="currentPage !== ipage.toString()" [routerLink]="url|queryUrl"
          [queryParams]="getQuery(ipage)">{{ipage}}</a>
      </li>

      <li *ngIf="currentPage!==data.totalPages.toString()" class="pl-2">
        <a [routerLink]="url|queryUrl" [queryParams]="getQuery(currentPage,true)"> Next »</a>
      </li>
    </ul>
  </nav>
</div>
