<div class="d-flex">
  <div class="flex-grow-1"> {{display}} </div>

  <nav *ngIf="pages.length!==1">
    <ul class="font15 ">
      <li *ngIf="data.currentPage!==1" class="pr-2">
        <a [routerLink]="url|queryUrl" [queryParams]="getQuery(data.currentPage-1)"> « Previous </a>
      </li>

      <li *ngFor="let ipage of pages" class="page-link">
        <span *ngIf="ipage ===data.currentPage" class="current">{{data.currentPage}}</span>
        <a *ngIf="data.currentPage !== ipage" [routerLink]="url|queryUrl" [queryParams]="getQuery(ipage)">{{ipage}}</a>
      </li>

      <li *ngIf="data.currentPage!==data.totalPages" class="pl-2">
        <a [routerLink]="url|queryUrl" [queryParams]="getQuery(data.currentPage+1)"> Next »</a>
      </li>
    </ul>
  </nav>
</div>
