<div class="col-md-8 bk-black">
  <div class="d-flex">
    <div class="flex-grow-1">
      <ul class="mt-2">
        <li *ngFor="let item of headers"><a href="#" class="header-color">{{ item | uppercase }}</a></li>
      </ul>
      <div class="header-color">IMDbPro|<i class="fas fa-angle-double-down"></i></div>
      <div class="header-color">{{ 'More' | uppercase }}</div>
    </div>
    <span class="header-color">{{ 'Share' | uppercase }}</span>
  </div>
</div>
<div class="col-md-4">
  <a href="#">The Best Shows to Watch This Week</a>
</div>
