.title {
  &-header {
    color: silver;
  }

  &-nav {
    background: #333333;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    list-style-type: none;

    li {
      display: inline;

      &::after {
        content: '|';
        margin-left: 15px;
        margin-right: 15px;
      }

    }

    &-sidebar {
      border-left: 4px solid #999;
    }
  }
}
