<div class="mt-2 p-1" *ngFor="let item of data;let i=index" [ngClass]="{'bk-grey': i%2===1,'bk-white':i%2===0}">
  <a class="font21" href="{{item.url}}">{{item.title}}</a>
  <div class="font11 mt-1 mb-1 ">
    <span class="ml-1 mr-1 ">{{item.date}}</span> |
    <span class="ml-1 mr-1 ">{{item.auhor}}</span> |
    <a href="{{item.source.url}}">{{item.source.name}}</a>
  </div>
  <div class="font13" innerHTML={{item.content}}> </div>

  <div>
    <a href="{{item.source.url}}">See full article at {{item.source.name}}</a>
    <div>
      <a routerLink="/news/{{item.id}}" class="no-link font11">Permalink</a> |
      <a routerLink="/newsdesk/help/report?news_item={{item.id}}" class="no-link font11"> Report this</a>
    </div>
  </div>
</div>
