.img-hover {
  display: none;
}

.showtime-img {

  &:hover {
    .img-hover {
      display: block !important;
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.5);
      top: 0px;
    }
  }
}
