<app-loading-icon [isLoading]="isLoading"></app-loading-icon>

<div class="row" *ngIf="data">
  <div class="col-md-8 m-3 border rounded">
    <h3 class="mt-3  font-weight-bold">{{data.header}}</h3>

    <app-paging [start]="start" [end]="end" [totalItems]="totalItem" [prevPage]="data.prevPage"
      [nextPage]="data.nextPage"></app-paging>


    <app-sort-navigation [data]="data.sorting" type="/search/name"></app-sort-navigation>

    <!-- <div class="mt-3 d-flex flex-row" *ngFor="let item of data.items;let i=index"
      [ngClass]="{'bk-grey': i%2===0,'bk-white':i%2===1}">
      <div class="p-2">
        <img src="{{item.image.url}}">
      </div>
      <div class="p-2 font13">
        <div class="font15 font-weight-bold"> {{item.index}} 
          <a routerLink="/name/{{item.id}}">{{item.name}}</a> </div>
        <div class="mt-1">{{item.movie.cast}} | <a routerLink="/title/{{item.movie.id}}">{{item.movie.name}}</a></div>

        <div class="mt-1" innerHTML={{item.description}}></div>
      </div>
    </div> -->

    <app-search-item-name [data]="data.items" [start]="start" searchType="name"></app-search-item-name>

    <app-paging [start]="start" [end]="end" [totalItems]="data.totalItems" [prevPage]="data.prevPage"
      [nextPage]="data.nextPage"></app-paging>
  </div>
</div>
