<div class="row">
  <div class="col-md-8 border-right ">
    <app-trailer [data]="trailers"></app-trailer>
    <app-articles [data]="articles"></app-articles>
    <app-news [data]="news" [topData]="topNews"></app-news>
    <app-birthday [data]="birthday" [today]="birthdayToday"></app-birthday>

  </div>
  <div class="col-md-4 border-left ">
    <app-schedule title="Opening this week" viewAll="See more opening this week" [data]="schedulesThisWeek"
      linkURL="/movies/in-theater">
    </app-schedule>

    <div class="border-bottom mb-3 mt-3">
      <a routerLink="/showtimes/theater"><button class="btn btn-showTimes">Get Showtimes <i
            class="fas fa-angle-double-right ml-2"></i></button></a>
    </div>

    <app-schedule title="Now Playing (Box Office)" viewAll="See more box office results" [data]="schedulesNowPlaying"
      linkURL="/chart/boxoffice"></app-schedule>

    <app-schedule title="Coming soon" viewAll="See more coming soon" [data]="schedulesComingSoon"
      linkURL="/movies/coming-soon"></app-schedule>
  </div>


</div>
