<div class="row">
  <div class="col-md-8 border-right ">
    <app-trailer [data]="trailers"></app-trailer>
    <app-articles [data]="articles"></app-articles>
    <app-news [data]="news" [topData]="topNews"></app-news>
    <app-birthday [data]="birthday"></app-birthday>

  </div>
  <div class="col-md-4 border-left ">
    <app-schedule title="Opening this week" viewAll="See more opening this week >>" [data]="schedulesThisWeek"></app-schedule>

    <div class="border-bottom mb-3 mt-3">
      <button class="btn btn-primary btn-showTimes mb-3 ">Get Showtimes >></button>
    </div>

    <app-schedule title="Now Playing (Box Office)" viewAll="See more box office results >>" [data]="schedulesNowPlaying"></app-schedule>
    <app-schedule title="Coming soon" viewAll="See more coming soon >>" [data]="schedulesComingSoon"></app-schedule>
  </div>


</div>
