<div class="rating">
  <span title="Users rated this {{starsCount}}/10 - click stars to rate">
    <rating class="font11 pl-2" [(ngModel)]="starsCount" [float]="true" [max]="10" [readonly]="true"></rating>
    <span class="color-gold font-weight-bold ml-2">{{starsCount}}</span>
    <span class="color-grey">/10</span>
  </span>
</div>

<!-- <div class="rating">
  <span title="Users rated this {{starsCount}}/10 - click stars to rate">
    <rating class="font11 pl-2" [(ngModel)]="starsCount" [float]="true" [max]="10"></rating>
    <span class=" font-weight-bold ml-2">{{starsCount}}</span>
    <span class="color-grey">/10</span>
  </span>
</div> -->
