<div class="row">
  <div class="col-md-8  p-3">
    <div class="border rounded p-3">
      <app-set-location></app-set-location>
      <app-weekday-select [type]="type"></app-weekday-select>
      <div *ngIf="theater">

        <span class="mt-3 font18 font-weight-bold">{{theater.name}}</span>
        <img class="favourite-icon"
          src="https://imageog.flaticon.com/icons/png/512/9/9571.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF6083._V_.png" />

        <div class="font13">{{theater.address.streetAddress}},{{theater.address.addressLocality}}
          {{theater.address.addressRegion}} {{theater.address.postalCode}} | {{theater.address.telephone}}</div>

        <div *ngFor="let movie of theater.movies" class="overflow-auto">
          <app-showtime-theater-item [data]="movie"></app-showtime-theater-item>
          <div *ngFor="let showtime of movie.showtimes">
            <app-showtime-display [data]="showtime.showtimes" [type]="showtime.type"></app-showtime-display>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 p-3 ">
    <div class="rounded bk-grey">
      <div *ngIf="type!='favourite'">
        <app-favourite></app-favourite>
      </div>
      <!-- <div *ngIf="type!='movies'">
        <app-showtime-movie-near> </app-showtime-movie-near>
      </div> -->
      <div *ngIf="type!='theater'">
        <app-showtime-theater-near></app-showtime-theater-near>
      </div>
      <app-share-widget></app-share-widget>

    </div>

  </div>
</div>
