<div class="row">
  <div class="col-md-8  p-3">
    <div class="border rounded p-3" *ngIf="theater">
      <app-set-location></app-set-location>
      <app-weekday-select type="/showtimes/cinema/{{theater.id}}"></app-weekday-select>
      <div class="mt-5">
        <span class=" font21 font-weight-bold">{{theater.name}}</span>
        <img class="favourite-icon" src="../../../assets/favourite.png">

        <div class=" mt-2 mb-2 font15">{{theater.address.streetAddress}}, {{theater.address.addressLocality}}
          {{theater.address.addressRegion}} {{theater.address.postalCode}} | {{theater.address.telephone}}</div>

        <div *ngFor="let movie of theater.movies; let i=index" class="overflow-auto"
          [ngClass]="{'bk-grey': i%2==0, 'bk-white': i%2 ==1}">
          <app-showtime-theater-item [data]="movie" [overlayStyle]="overlayStyle"
            iconUrl="https://m.media-amazon.com/images/G/01/imdb/images/st_hover-3247955943._V_.png">
          </app-showtime-theater-item>
          <div *ngFor="let showtime of movie.showtimes">
            <app-showtime-display [data]="showtime.showtimes" [type]="showtime.type"></app-showtime-display>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-3 ">
    <!-- <div class="rounded bk-grey"> -->
    <div *ngIf="type!='favourite'">
      <app-favourite></app-favourite>
    </div>
    <!-- </div> -->
    <!-- <div *ngIf="type!='movies'">
        <app-showtime-movie-near> </app-showtime-movie-near>
      </div> -->
    <div class="rounded bk-grey">
      <div *ngIf="type!='theater'">
        <app-showtime-theater-near></app-showtime-theater-near>
      </div>
    </div>
    <app-share-widget></app-share-widget>

  </div>
</div>
