@import "../../../constants";

.header {
  background: $light-dark;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0px;

  &-inner {
    background: $dark;
    margin-top: 15px;
    padding: 15px 15px 0px 15px;
    width: 100%;
  }

  &-menu {
    width: 140px;
    font-size: 13px;

    &-button {
      height: 48px;

      padding: 5px 25px;
      color: #fff;

      a {
        color: #fff;
      }

      &:hover {
        background: linear-gradient(to bottom,
          rgba(51, 51, 51, 0) 3%,
          #333 15%,
          #505050 50%,
          #333 85%);
      }
    }

    &::before {
      content: "";
      width: 1px;
      background: linear-gradient(to bottom,
        rgba(51, 51, 51, 0) 3%,
        #333 15%,
        #727272 50%,
        #232323 85%);
      height: 46px;
      display: inline-block;
      position: absolute;
    }

    &-last::after {
      content: "";
      width: 1px;
      top: 0;
      right: 0;
      background: linear-gradient(to bottom,
        rgba(51, 51, 51, 0) 3%,
        #333 15%,
        #727272 50%,
        #232323 85%);
      height: 46px;
      display: inline-block;
      position: absolute;
    }

    &-title {
      color: $gold;
      font-size: 13px;
      padding-left: 0.5rem;
      padding-top: 0.25rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
    }

    &-popup {
      width: 550px;
      z-index: 1111;

      .dropdown-item {
        padding: 0.1rem 0.5rem;
      }
    }
  }

  .search-type {
    background: #fff;
    color: black;
    width: 100px;
    border-radius: 0;
    height: 38px;
    margin-left: 1.5px;
  }
}

.logo {
  width: 120px;
  height: 60px;
}

.icon {
  color: red;
  width: 50px;
}

.btn {
  color: white;
}

.dropdown-item-text {
  color: $dark-yellow;
}

.dropdown-menu {
  z-index: 11111;
  margin-top: 0px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(61, 60, 61, 0.5);
  -moz-box-shadow: 2px 2px 20px 0px rgba(61, 60, 61, 0.5);
  box-shadow: 2px 2px 20px 0px rgba(61, 60, 61, 0.5),
    -2px 2px 20px 0px rgba(61, 60, 61, 0.5);
}

.social-media-links {
  list-style-type: none;
  margin-top: 8px;
  float: right;

  li {
    float: left;
    margin: 0px 8px;
    color: #fff;
    list-style: none;

    &.spacer {
      width: 1px;
      height: 16px;
      border-left: solid 1.5px #333;
    }

    a {
      color: #fff;
    }
  }
}
