.active {
  background-color: white;
}

input {
  width: 30%;
}

.btn-search {
  background-color: #fcf3c2;

  &:hover {
    border: 2px gold solid;

  }
}



.fa-times-circle {
  color: Grey;

  &:hover {
    color: red;
  }
}

.selectedVal {
  font-size: 13px;
  height: 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 1px solid gray;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  color: grey;
}
