<div class="bk-grey m-3">
  <div class="faceter-header" [ngClass]="{'open': bRefine}">
    <div>
      <i *ngIf="!bRefine" class="fas fa-angle-double-down refinebtn" (click)="onRefine()"></i>
      <i *ngIf="bRefine" class="fas fa-angle-double-up refinebtn" (click)="onRefine()"></i>
      <button class="btn btn-link refinebtn " (click)="onRefine()">Refine </button> |
      <span [hidden]="selectedValues.length>0">
        <span *ngIf="!bSearchMode"> See movies by genre, rating, online ticketing, etc.</span>
        <span *ngIf="bSearchMode"> See titles to watch instantly, titles you haven't rated, etc</span>
      </span>
    </div>
    <div class="d-flex">
      <div *ngFor="let item of selectedValues" class="selectedVal  mr-2">
        {{item}}
        <i class="fas fa-times-circle ml-2" (click)="onDeselect(item)"></i>
      </div>
    </div>
  </div>

  <div [hidden]="!bRefine" class=" faceter-content">
    <div class="row no-gutters">
      <div class="col-3">
        <div *ngIf="data!=null" class="nav flex-column  bk-grey">
          <div *ngFor="let item of data">
            <a class="nav-link " aria-selected="true" [ngClass]="{'active': item.categoryName==selectedTab}"
              (click)="onCategoryClick(item.categoryName)">{{item.categoryName}}</a>
          </div>
        </div>
      </div>
      <div class="col-9 bk-white">
        <div class="tab-content overflow-auto" style="max-height:236px">
          <div *ngFor="let item of data">
            <div *ngIf="item.categoryName === selectedTab" class="pt-3 d-flex flex-wrap flex-row">
              <div *ngIf="item.searchKey==='tickets_theaters';else ratingBlock">
                <input type="radio">
                <label>In Favourite Theaters</label>
                <a href="#" class="border-top">Reset</a>
              </div>
              <div class="pl-3" #ratingBlock *ngIf="item.searchKey === 'imdb_rating';else releaseBlock">
                <span>IMDb user rating (average)</span>
                <div>
                  <mat-form-field>
                    <mat-select [(value)]="from" (selectionChange)="onGetRatingChanged($event)">
                      <mat-option *ngFor="let item of ratingInc" value="{{item}}">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  to
                  <mat-form-field>
                    <mat-select [(value)]="to" (selectionChange)="onGetRatingChanged($event)">
                      <mat-option *ngFor="let item of ratingRev" value="{{item}}">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span>Number of votes</span>
                <div class="d-flex">
                  <input type="text" class="form-control" [(ngModel)]="fromVote">
                  <span class="p-2">to </span>
                  <input type="text" class="form-control" [(ngModel)]="toVote">
                  <label title="Search" class="ml-2 btn-search" (click)="onVoteSearch()"> » </label>
                </div>
              </div>
              <div class="pl-3" #releaseBlock *ngIf="item.searchKey==='release_date';else finallyBlock">
                <span>Release year or range</span>
                <div class="d-flex">
                  <input type="text" class="form-control" [(ngModel)]="fromRange">
                  <span class="p-2">to </span>
                  <input type="text" class="form-control" [(ngModel)]="toRange">
                  <label title="Search" class=" p-1 ml-2 btn-search border" (click)="onRangeSearch()"> » </label>
                </div>
              </div>
              <div #finallyBlock *ngFor="let value of item.values" style="width: 50%">
                <input type="checkbox" [(ngModel)]="value.checked" (change)="onChecked(item.categoryName, value.name)">
                <span>{{value.name}} ({{value.count}})</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
