.active {
  background-color: white;
}

input {
  width: 15%;
}

.col-3 {
  padding-right: 0;
}

.nav-link {
  padding: 3px;
}

.btn-search {
  background-color: #fcf3c2;
  border-radius: 3px;
  padding: 5px 8px;
  border: 1px grey solid;

  &:hover {
    border: 1px gold solid;

  }
}

.refinebtn {
  color: #007bff;
  padding: 0 0 0 3px;
}

.fa-times-circle {
  color: Grey;

  &:hover {
    color: red;
  }
}

.selectedVal {
  font-size: 13px;
  height: 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 1px solid gray;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  color: grey;
}


.faceter-header {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 3px;

  &.open {
    border-radius: 10px 10px 0 0;

  }
}

.faceter-content {
  border-radius: 0 0 10px 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
