.active {
  background-color: white;
}

input {
  width: 30%;
}

.btn-search {
  background-color: #fcf3c2;

  &:hover {
    border: 2px gold solid;

  }
}



.fa-times-circle {
  // color: white;

  &:hover {
    background-color: red;
  }
}

.selectedVal {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  border: 1px solid gray;
  padding-left: 2px;
  padding-right: 2px;
}
