<div class="mt-5">
  <div>Showing all {{nTotal}} items</div>
  <div>
    <span class="color-grey float-left">Jump to:</span>
    <ul>
      <li *ngFor="let detailList of data">
        <a href="/title/{{id}}/releaseinfo#{{detailList.name}}">{{detailList.name}}</a>
        <span class="color-grey pl-2 pr-2">({{detailList.items.length}})</span>
      </li>
    </ul>
  </div>
</div>

<div *ngFor="let detailList of data">
  <div class="title-header">
    <h4 class="dataHeaderWithBorder">
      <a name="{{detailList.name}}">{{detailList.name}}</a>
    </h4>

    <div class="row ml-1 mr-1 p-2" *ngFor="let item of detailList.items;let i=index"
      [ngClass]="{'bk-grey': i%2===0,'bk-white':i%2===1}">
      <div class="col-3"> <a routerLink="/calendar/?region={{item.regionId}}">{{item.regionName}}</a></div>
      <div class="col-3">{{item.releaseDate}}</div>
      <div class="col-6">{{item.attributes}}</div>
    </div>

  </div>
</div>
