<div class="schedule ">
  <a routerLink="{{linkURL}}" class="no-link title mt-3"> {{title}}</a>
  <div class="row mt-2" *ngFor="let item of data">
    <div class="col-md-9 d-flex flex-row">
      <a title="Click to add to watchlist"><img class="img-watchlist" src="../../../assets/add-to-watchlist.png"> </a>
      <div class="d-flex flex-column pl-2">
        <a routerLink="/title/{{item.id}}">{{item.title}}</a>
        <label class="font11">{{item.secondaryText}}</label>
      </div>
    </div>
    <div class="col-md-3" *ngIf="item.onCinema">
      <a routerLink="/showtimes/title/{{item.id}}" class="font11">Show Times</a>
    </div>
    <div class="col-md-3" *ngIf="item.openDate">
      {{ item.openDate | date }}
    </div>
  </div>
  <a class=" mt-3 mb-3 d-block" routerLink="{{linkURL}}">{{viewAll}}<i class="fas  fa-angle-double-right ml-2"></i></a>
</div>
