<div class="font15 row" *ngFor="let item of data;let i=index" [ngClass]="{'bk-grey': i%2==0, 'bk-white': i%2 ==1}">
  <div class="pt-3">
    <div>
      <a href="#">{{item.title}}</a>
      <div>{{item.date}} | {{item.source.name}}</div>
    </div>
    <div class="mt-2">
      <img srcset="{{item.image.url}}" class="float-left news-image">
      <div class=" news-content" innerHTML="{{item.content}}"> </div>

      <a href="#"> See full article at Variety - Film News »</a>
      <a>Permalink Report this</a>
    </div>

  </div>
</div>
