/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./constants";



.font11 {
  font-size: 11px;
}

.font15 {
  font-size: 15px;
}

.font13 {
  font-size: 13px;
}

.font18 {
  font-size: 18px;
}

.font21 {
  font-size: 21px;
}

.no-link {
  color: black;

  &:hover {
    color: #0056b3 !important;
  }

  &.title {
    font-size: 1.5rem !important;
  }
}

.bg-gold {
  background: $gold;
}

body {
  background: $gray;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  color: #136CB2;
}

.color-gold {
  color: #A58500; // #664700;
}

.color-grey {
  color: #666 !important;
}

.color-white {
  color: white;
}

.color-light-grey {
  color: $light-grey;
}

.bk-grey {
  background-color: #f6f6f5;
}

.bk-white {
  background-color: #fbfbfb;
}

.bk-black {
  background-color: #333;
}

.bk-black-p {
  background-color: rgba(0, 0, 0, 0.7);
}

.bk-yellow {
  background-color: $light-yellow;
}

.bk-gold {
  background-color: #A58500;
}

.bk-trans {
  background-color: transparent;
}

.link-right {
  position: absolute;
  right: 0;
}

.border-dotted {
  border-top: 1px dotted black;
}

.favourite-icon {
  width: 16px;
}

.border-style {
  border-radius: 20px;
  background-color: $grey;
  padding: 15px;
  margin-right: 1px;
}

ul,
menu,
dir {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.splitComma {
  &::after {
    content: ',';
    padding-right: 3px;
  }
}

.splitVertical {
  &::after {
    content: '|';
    padding: 0px 3px;
  }
}

.splitSlash {
  &::after {
    content: '/';
    padding: 0px 3px;
  }
}

.metascore {
  padding: 1px 4px;
  color: #fff;
  margin-right: 3px;


  &-green {
    margin-right: 3px;
    padding: 1px 4px;
    color: #fff;
    background-color: #61c74f;
  }

  &-gold {
    background-color: #ffcc33;
  }
}



.title-header {
  // margin-top: 18px;
  font-size: 15px;

  & h4 {
    color: #666666;
    margin: 0.35em 0 0.25em;
    padding: 0;

    &.dataHeaderWithBorder {
      line-height: 2.6em;

      &:before {
        margin-top: 1.6em;
        margin-bottom: -1.5em;
      }
    }
  }
}


.dataHeaderWithBorder {
  display: inline;
  background-color: #FFFFFF;


  &:before {
    content: "";
    border-bottom: 1px dotted #CCC;
    width: 100%;
    float: left;

  }
}

.rightcornerlink {
  position: absolute;
  right: 25px;
  padding-left: 5px;
  padding-top: 15px;
  font-size: 11px;


  border-left: 1px dotted #ccc;

}
