/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.font11 {
  font-size: 11px;
}

.font15 {
  font-size: 15px;
}

.font13 {
  font-size: 13px;
}

.font18 {
  font-size: 18px;
}

.no-link {
  color: black;

  &:hover {
    color: #0056b3 !important;
  }

  &.title {
    font-size: 1.5rem !important;
  }
}

body {
  background: grey;
}

a {
  color: #136CB2;
}

.color-gold {
  color: #664700;
}

.color-white {
  color: white;
}

.bk-grey {
  background-color: #f6f6f5;
}

.bk-white {
  background-color: #fbfbfb;
}

.bk-black {
  background-color: #333;
}

.bk-black-p {
  background-color: rgba(0, 0, 0, 0.7);
}

.bk-yellow {
  background-color: lightyellow;
}

.bk-trans {
  background-color: transparent;
}

.link-right {
  position: absolute;
  right: 0;
}

.border-dotted {
  border-top: 1px dotted black;
}
