<div class="row  mt-3 d-flex">
  <h3 class="ml-3 font18 flex-grow-1">Recently Viewed</h3>
  <a href="#" class="mr-3">Clear your history</a>
</div>
<div>
  <img class="pr-3" src="https://m.media-amazon.com/images/M/MV5BZTdiZGRlZGItZDQ4OC00NTk3LWJhOTAtOTk2NTYzM2JmNzY1XkEyXkFqcGdeQXVyNTc5OTMwOTQ@._V1_UY98_CR1,0,67,98_AL_.jpg">
  <img class="pr-3" src="https://m.media-amazon.com/images/M/MV5BMTkyOTkwNDc1N15BMl5BanBnXkFtZTgwNzkyMzk3NjM@._V1_UX67_CR0,0,67,98_AL_.jpg">
  <img class="pr-3" src="https://m.media-amazon.com/images/M/MV5BNzY4NDlmNTQtNTQ4Yi00NzhmLTkxOGMtNzc4OGNjZDA0OTJiXkEyXkFqcGdeQXVyMjM5Mjk0MA@@._V1_UY98_CR15,0,67,98_AL_.jpg">
  <div class="mt-3 border-bottom"></div>
</div>
