<div class="row" *ngIf="data">
  <div class="col-md-8 border-right">
    <div class="d-flex">
      <div class="flex-grow-1 mt-3">
        <span *ngIf="data.title !=='Top Box Office (US)'">IMDb Charts</span>
        <h3 class="color-light-grey">{{data.title}}</h3>
        <span class="color-grey">{{data.subTitle}}</span>
      </div>
      <div *ngIf="data.title !=='Top Box Office (US)'">
        <div class="mt-4 text-center share-icon color-grey"> <i class="fas fa-share-alt"></i></div>
        <span>SHARE</span>
      </div>
    </div>
    <div class="row  mt-3 border-top" *ngIf="data.title !=='Top Box Office (US)'">
      <div class="col-md-8 mt-3">
        Showing {{data.items.length}} Titles
      </div>
      <div class="col-md-4">
        <app-sort datasetType="top-rated" (sortChange)="onSortChange($event)"></app-sort>
      </div>
    </div>
    <div class="row color-grey font-weight-bold text-center mt-3">
      <ng-container *ngIf="data.title ==='Top Box Office (US)'; else elseTemplate">
        <div class="col-md-5">Title</div>
        <div class="col-md-2 "> Weekend </div>
        <div class="col-md-2"> Gross </div>
        <div class="col-md-2"> Weeks </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="col-md-7 "> Rank & Title </div>
        <div class="col-md-2"> IMDb Rating </div>
        <div class="col-md-2"> Your Rating </div>
      </ng-template>
    </div>
    <div class="row color-grey font-weight-bold mt-2 table-row" *ngFor="let item of data.items;let i=index"
      [ngClass]="{'bk-grey': i%2===0, 'bk-white': i%2 ===1}">
      <ng-container *ngIf="data.title ==='Top Box Office (US)'; else elseTemplate">
        <div class="rank" routerLink="/title/{{item.id}}" class="col-md-5">
          <img src="{{item.image.url}}">
          <a class="ml-2 " routerLink="/title/{{item.id}}">{{item.name}}</a>
        </div>
        <div class="col-md-2 content-center">
          {{item.weekend}}
        </div>
        <div class=" col-md-2 content-center">
          {{item.gross}}
        </div>
        <div class=" col-md-2 content-center">
          {{item.weeks}}
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="col-md-7">
          <div class="float-left" routerLink="/title/{{item.id}}">
            <img src="{{item.image.url}}">
          </div>
          <div class="rank">
            <a class="ml-2" routerLink="/title/{{item.id}}">{{item.name}}</a>
            <span class="ml-2">({{item.year}})</span>
            <div>
              <span class="ml-3">{{item.ranking.value}}</span>
              <span *ngIf="item.ranking.velocity">
                (
                <span *ngIf="item.ranking.up===true;else elseRanking">
                  <i class="fas fa-arrow-up"></i></span>
                <ng-template #elseRanking>
                  <i class="fas fa-arrow-down"></i>
                </ng-template>
                <span class="ml-1">{{item.ranking.velocity}}</span>
                )
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-2 content-center font-weight-bold">
          <span *ngIf="item.rating.value" title="{{item.rating.text}}">
            <i class="fas fa-star color-gold"></i>
            {{item.rating.value}}</span>
        </div>
        <div class=" col-md-2 content-center">
          <i class="far fa-star"></i>
        </div>
      </ng-template>


      <div class="col-md-1 content-center">
        <img title="Click to add to watchlist" src="../../../assets/add-to-watchlist.png">
      </div>
    </div>
  </div>
  <div class="col-md-4 border-left ">
    <div class=" border-bottom font18 mb-3">
      <div class="mt-3 mb-3">You Have Seen</div>
      <div>
        <span class="font-weight-bold font21"> 0 </span> / {{data.items.length}} ( 0% )
      </div>
      <input type="checkbox">
      <span class="ml-1 font13 hide-title">Hide titles I've seen</span>
    </div>
    <div class="border-bottom chart">
      <span>IMDb Charts</span>
      <ul class="mt-3 mb-3">
        <li><a routerLinkActive="selected" routerLink="/chart/boxoffice">Box Office</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/moviemeter">Most Popular Movies</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/top">Top Rated Movies</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/top-english-movies">Top Rated English Movies</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/tvmeter">Most Popular TV</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/toptv">Top Rated TV</a></li>
        <li><a routerLinkActive="selected" routerLink="/india/top-rated-indian-movies">Top Rated Indian Movies</a></li>
        <li><a routerLinkActive="selected" routerLink="/chart/bottom">Lowest Rated Movies</a></li>
      </ul>
    </div>
    <div class="mt-3">
      {{data.title}} by Genre
      <div *ngFor="let item of data.quickLinks">
        <!-- <a routerLink="/search/title/?genres={{item.genre}}">{{item.name}} </a> -->
        <a routerLink="/search/title" [queryParams]="item.url| toQueryObject">{{item.name}}
        </a>

      </div>
    </div>
  </div>
</div>
